fastapi
uvicorn
python-multipart
langchain
langchain-core
langchain-groq
langgraph
chromadb
sentence-transformers
schedule
google-api-python-client
google-auth-oauthlib
email-validator
pydantic
python-dotenv
google-auth-httplib2
plyer
apscheduler
deepgram-sdk